

  .div1{
    background-color: rgba(234, 247, 246, 0.808);
    width: 500px;
    height: 205px;
    border-radius: 10px;
    position: relative;
    display: inline-block;
    margin-left: 2%;
    margin-top: 2%;
  }

  div.image {
    position: absolute;
    width: 150px;
    height: 170px;
    left: 10px;
    top: 12px;
   
  }

  .divName{
    font-family: "Impact";
    font-size: 130%;
    position: absolute;
    left: 210px;
    
  }

  .div5To{
    font-family: "Lucida sole";
    font-size: 150%;
    position: absolute;
    left: 210px;
    top: 25px;
  }

  .div6To{
    font-family: "Lucida sole";
    font-size: 150%;
    position: absolute;
    left: 210px;
    top: 51px;
  }

  .div3From{
    font-family: "Lucida sole";
    font-size: 150%;
    position: absolute;
    left: 210px;
    top: 75px;
  }

  .btn{
    position: absolute;
    right: 10px;
    bottom: 3px;
  }

  .myButton {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
    background-color:#33bdef;
    border-radius:11px;
    border:1px solid #057fd0;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:9px 24px;
    text-decoration:none;
    text-shadow:0px -1px 0px #5b6178;
    }
    .myButton:hover {
    background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
    background-color:#019ad2b6;
    }
    .myButton:active {
    position:relative;
    top:1px;
    }

    .rate{
      margin-left: 70%;
      margin-top: 23%
    }