<body>
	<div class="bg">
			
			
					
						<div class="pretrazi">
							<div class="booking-form">
								<form>
									<div class="form-group">
										<div class="form-checkbox">
											<label for="roundtrip">
												<input type="radio" id="roundtrip" name="flight-type">
												<span></span>Roundtrip
											</label>
											<label for="one-way">
												<input (click)="onButtonClick($event)" type="radio" id="one-way" name="flight-type">
												<span></span>One way
											</label>
											<label for="multi-city">
												<input (click)="onButtonClick2($event)" type="radio" id="multi-city" name="flight-type">
												<span></span>Return trip
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-md-6">
											<div class="form-group">
												<span class="form-label">Flying from</span>
												<input class="form-control" type="text" placeholder="City or airport" id="searchFromFilter">
											</div>
										</div>
										<div class="col-md-6">
											<div class="form-group">
												<span  class="form-label">Flyning to</span>
												<input  class="form-control" type="text" placeholder="City or airport" id="searchToFilter">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<span class="form-label">Departing</span>
												<input class="form-control" type="date" required id="searchDepartingFilter">
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-group">
												<span class="form-label">Returning</span>
												<input [disabled]="disable" class="form-control" type="date" required id="searchReturningFilter" >
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<span class="form-label">Adults (18+)</span>
												<select class="form-control">
													<option>1</option>
													<option>2</option>
													<option>3</option>
												</select>
												<span class="select-arrow"></span>
											</div>
										</div>
										<div class="col-md-2">
											<div class="form-group">
												<span class="form-label">Baggeg </span>
												<input class="form-control" type="text" placeholder="Baggeg" id="searchBaggegFilter">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-3">
											<div class="form-group">
												<span class="form-label">Travel class</span>
												<input class="form-control" type="text" placeholder="Class" required id="searchClassFFilter">
												
											
											</div>
										</div>
										<div class="col-md-3">
											<div class="form-btn">
												<button  class="submit-btn" (click)="filterServices()">Show flights</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					
				

				<div class="conteiner2" id="style-2">
					<div class="admin" [hidden]="check()">
					<button  type="button" routerLink="/add-about-company" >addcomp</button>
					</div>

					<!-- <div class="cols">
					<input type="radio" value="name" #mySelection1 (click)="Sort1(mySelection1.value)"  >
					<p style="color:lavenderblush"> Name</p>
				
					<input  type="radio" value="city" #mySelection2 (click)="Sort1(mySelection2.value)" name="sort">
					<p style="color:lavenderblush"> City</p>
				</div> -->

					
						<div class="wrapper" *ngFor="let company of allAvioCompanies">
							
							<!-- <p class="resp-tabs-list">  </p> -->
							<div class="cols">
									  <div (click)="onSelect(company)" class="col" ontouchstart="this.classList.toggle('hover');">
										  <div class="container" style= "margin-top: -26%;">
											  <div  class="front" style="background-image: url(https://unsplash.it/500/500/);height: 100px;">
												  <div class="inner">
													  <p>{{company.avioCompName}}</p>
										<span>{{company.avioCompAddress}}</span>
										
												  </div>
											  </div>
											  <div class="back" (click)="onSelect(company)">
												  <div class="inner" >
														
													<p>{{company.avioCompAbout}}</p>
												  </div>
											  </div>
										  </div>
									  </div>
			
									  
			
									  
							</div>
							
						</div>
						
					</div>

					
						<div [hidden]="searchedFlights.length !== 0">
							<hr/>
							<h5 style="text-align: center;">Trenutno nema dostupnih LETOVA koja zadovoljavaju zadate parametre.</h5>
						  </div>
						  <div [hidden]="searchedFlights.length === 0" >
							<app-search-flight [searchedFlights]="searchedFlights"></app-search-flight>
						  </div>

					



				
				

						  <div  style="width:150px;margin-left:96%;">
							  <div class="s002" >
								<form>
								  <div class="inner-form">
									<div class="input-field fifth-wrap">
									  <p style="color:lavenderblush"> Sort</p>
									  <div class="input-field fifth-wrap">
										<div class="row">
										  <input type="radio" value="name" #mySelection1 (click)="Sort1(mySelection1.value)"  name="sort" style="height: 1em;">
										  <p style="color:lavenderblush"> Name</p>
										</div>
										<div class="row">
										  <input type="radio" value="city" #mySelection2 (click)="Sort1(mySelection2.value)" name="sort" style="height: 1em;">
										  <p style="color:lavenderblush"> City</p>
										</div>
									  </div>
									</div>
								  </div>
								</form>
							  </div>
							</div>
		</div>

		</body>