
  <section class="signup">
              <form #form="ngForm" [formGroup]="singUpForm" autocomplete="off" (ngSubmit)="onSubmit()" id="signup-form" class="signup-form">

                <!-- <input type="hidden" name="userId" [value]="service.formData.userId"> -->

                <div>
                  <button class="btn" (click)="navigateTo('sing-in')" (click)="sendMessage()"><span>Sing in</span></button>
                  <button class="btn"><span>Register</span></button>
                </div>

                <div style="margin-left: 16px;" class="row">
                  <div style="margin-right: 10px;" class="form-group">
                    <input type="text" name="name" id="name" class="form-input" placeholder="Name" formControlName="name" required/>
                    <div class="validation-error" *ngIf="singUpForm.get('name').invalid && singUpForm.get('name').touched">This field is required</div>
                  </div>

                  <div class="form-group">
                      <input name="email" type="text" id="email" class="form-input" placeholder="Email" formControlName="email" required/>
                      <div class="validation-error" *ngIf="singUpForm.get('email').invalid && singUpForm.get('email').touched">This field is required</div>
                  </div>
                </div>

                <div style="margin-left: 16px;" class="row">
                  <div class="form-group">
                    <input type="text" name="city" id="city" class="form-input" placeholder="City" formControlName="city" required/>
                    <div class="validation-error" *ngIf="singUpForm.get('city').invalid && singUpForm.get('city').touched">This field is required</div>
                  </div>

                  <div style="margin-left: 10px;" class="form-group">
                    <input type="string" name="phoneNumber" id="phoneNumber" class="form-input" placeholder="Phone number" formControlName="phoneNumber" required/>
                    <div class="validation-error" *ngIf="singUpForm.get('phoneNumber').invalid && singUpForm.get('phoneNumber').touched">This field is required</div>
                  </div>
                </div>

                <div formGroupName="passwordGroup">
                  <div style="margin-left: 16px;" class="row">
                    <div class="form-group" style="margin-right: 16px;">
                      <input type="password" name="password" id="password" class="form-input" placeholder="Password" formControlName="password" required/>
                      <!-- <div class="validation-error" *ngIf="singUpForm.value.passwordGroup.get('password').invalid && singUpForm.get('password').touched">This field is required</div> -->
                    </div>

                    <div class="form-group">
                      <input type="password" name="repeatPassword" id="repeatPassword" class="form-input" placeholder="Repeat password" formControlName="repeatPassword" required/>
                      <!-- <div class="validation-error" *ngIf="singUpForm.value.passwordGroup.get('repeatPassword').invalid && singUpForm.value.passwordGroup.get('repeatPassword').touched">This field is required</div> -->
                    </div>
                  </div>
                </div>


                  <div class="form-group">
                      <input type="submit" [disabled]="singUpForm.invalid"  name="submit" id="submit" class="form-submit" value="Sign up"/>
                  </div>
              </form>
  </section>
