<body>
	<div class="bg">
      <div class="s002">
        <form>
          <div class="inner-form">
            <div class="input-field first-wrap">
              <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
                </svg>
              </div>
              <input id="search" type="text" placeholder="Renta car service" id="rentServiceFilter"/>
            </div>

            <div class="input-field first-wrap">
              <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5s1.12-2.5 2.5-2.5 2.5 1.12 2.5 2.5-1.12 2.5-2.5 2.5z"></path>
                </svg>
              </div>
              <input id="search" type="text" placeholder="Renta car Location" id="rentServiceFilter2"/>
            </div>

            <!-- <div class="input-field third-wrap">
              <div class="icon-wrap">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path d="M17 12h-5v5h5v-5zM16 1v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-1V1h-2zm3 18H5V8h14v11z"></path>
                </svg>
              </div>
              <input class="datepicker" id="return" type="text" placeholder="31 Jan 2020" />
            </div> -->

            <div class="input-field fifth-wrap">
              <button class="btn-search" type="button" (click)="filterServices()">SEARCH</button>
            </div>
          </div>
        </form>

        <div class="admin" [hidden]="check()">
          <div class="s002" >
            <form>
              <div class="inner-form">
                <div class="input-field fifth-wrap">
                  <p style="color:lavenderblush; margin-left: 35%;"> Admin Services</p>
                  <div class="input-field fifth-wrap">
                    <button class="btn-search" type="button" (click)="onAddService()">Add Service</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- <button class="btn-search" type="button" (click)="onAddService()">Add Service</button> -->

      </div>

      <div class="radio" style="width:150px;">
        <div class="s002" >
          <form>
            <div class="inner-form">
              <div class="input-field fifth-wrap">
                <p style="color:lavenderblush; margin-left: 12%; margin-bottom: 20%;"> Sort</p>
                <div class="input-field fifth-wrap">
                  <div class="row">
                    <input type="radio" value="name" #mySelection1 (click)="Sort1(mySelection1.value)"  name="sort" style="height: 1em; margin-left: -47%;">
                    <p style="color:lavenderblush; margin-left: -40%; margin-top: -1%;"> Name</p>
                  </div>
                  <div class="row">
                    <input type="radio" value="city" #mySelection2 (click)="Sort1(mySelection2.value)" name="sort" style="height: 1em; margin-left: -47%;">
                    <p style="color:lavenderblush; margin-left: -40%; margin-top: -1%;"> City</p>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      

      <div [hidden]="this.filtredRentServices.length !== 0">
        <hr/>
        <div style="background-color: aliceblue;">
          <h5 style="text-align: center; margin-top: -40%;">Trenutno nema dostupnih rent a car servisa koja zadovoljavaju zadate parametre.</h5>
        </div>
      </div>
     <div [hidden]="this.filtredRentServices.length === 0">
        <app-rent-a-car-filter [filtredRentServices]="filtredRentServices"></app-rent-a-car-filter>
     </div>
  </div>
</body>