<body>
	<div class="bg">
        <div class="container">
            <div>
                <table class="table table-hover shopping-cart-wrap">
                    <thead class="text-muted">
                        <tr>
                        <th scope="col">From</th>
                        <th scope="col" width="120">To</th>
                        <th scope="col" width="120">Class</th>
                        <th scope="col" width="200" class="text-right">Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let f of allFlightss">
                            <td>
                        <figure class="media">
                            <div ></div>
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">{{f.companyName}}</h6>
                                <dl class="param param-inline small">
                                <dt> From: </dt>
                                <dd>{{f.from}}</dd>
                                <dd>{{f.time1}}</dd>

                                </dl>
                                <dl class="param param-inline small">
                                <dt>To: </dt>
                                <dd>{{f.to}}</dd> 
                                
                                <dd>{{f.time2}}</dd>
                                
                                </dl>
                            </figcaption>
                        </figure> 
                            </td>
                            <td> 
                                
                            </td>
                            <td> 
                                <div class="price-wrap"> 
                                    <var class="price">{{f.price}}</var> 
                                    <small class="text-muted">($)</small> 
                                </div>
                            </td>
                            <td class="text-right"> 
                                <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a> 
                                <a href="" class="btn btn-outline-danger"> × Remove</a>
                            </td>
                        </tr>
                        <tr>
                            <td>
                        <figure class="media">
                            <div class="img-wrap"><img src="http://bootstrap-ecommerce.com/main/images/items/1.jpg" class="img-thumbnail img-sm"></div>
                            <figcaption class="media-body">
                                <h6 class="title text-truncate">Product name goes here </h6>
                                <dl class="param param-inline small">
                                    <dt>Size: </dt>
                                    <dd>XXL</dd>
                                </dl>
                                <dl class="param param-inline small">
                                    <dt>Color: </dt>
                                    <dd>Orange color</dd>
                                </dl>
                            </figcaption>
                        </figure> 
                            </td>
                            <td> 
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>	
                                    <option>3</option>	
                                    <option>4</option>	
                                </select> 
                            </td>
                            <td> 
                                <div class="price-wrap"> 
                                    <var class="price">USD 35</var> 
                                    <small class="text-muted">(USD10 each)</small> 
                                </div> <!-- price-wrap .// -->
                            </td>
                            <td class="text-right"> 
                                <a title="" href="" class="btn btn-outline-success" data-toggle="tooltip" data-original-title="Save to Wishlist"> <i class="fa fa-heart"></i></a> 
                                <a href="" class="btn btn-outline-danger btn-round"> × Remove</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> 
    </div>
</body>